body{
  width:50%;
  margin: auto;

}
.task{
  background-color: #34495e;
  padding: 15px;
  margin: 5px;
  list-style: none;
  border-radius: 5px;
  cursor: pointer !important;
}

.task span{
  color: #fff;
}
.icon{
  float: right;
  margin-right: 20px;
}
article{
  display: grid;
}
.edit-todo{
  width: 85%;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  display: inline;
}